body {
	background: #333;
	font-size: xx-large;
}

#page-wrap:after { content: "Smartphone Layout"; }

section > div {
	margin: 0;
	padding: 0;
}

/* Barras en menu */
nav span:before { content: ""; }
nav:after { content: none; }

h2 span, section h3 { display: none; }

footer, input { font-size: large; }

li {list-style-type: none;}

#nombre, #video, #foto { margin: 10px auto; }

#foto {
	max-width: 80vw;
	max-height: 80vw;
}
#cfoto {
	width: 100%;
	height: 100%;
}

#video, #cvideo {
	width: 95%;
	padding: 2px;
}

/* Buscador */
#search {
	width: 90%;
	height: 60px;	
	margin: 0;
}
