* {
	margin: 0;
	padding: 0;
}
body { font: 16px Georgia, serif; }

#page-wrap {
	margin: 2% auto;
	color: white;
	text-align: center;
}
#page-wrap > .main {
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}

/* Barras en menu */
nav span:before { content: "| "; }
nav:after { color: darkblue; content: " |"; }

section > div {	padding: 20px; }
header, nav, section, footer {
	background: #eee;
	text-align: center;
}
nav span { margin: 0 5px 0 5px; }

a {
  color: #00B7FF;
  text-decoration: underline;
}
a:hover {
  color: #0087cF;
  text-decoration: none;
}

footer a { text-decoration: none; }
footer a:first-child:after {
	content: " | ";
	color: black;
	text-decoration: none;
}

/* Autor */
#nombre, #foto, #video {
	width: 100%;
	margin: 10px auto;
	padding: 0px;
	text-align: center;
	float: none;
}

#foto {
	width: 400px;
	height: 400px;
	margin: 0 auto;
}
#cfoto {
	width: 100%;
	height: 100%;
	background-image: url("/images/Foto0.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1% auto;
}
#cfoto:hover { background-image: url("/images/Foto.jpg"); }

#cvideo {
	margin: 0 auto;
	width: 400px;
}

video { width: 100%; }

/* Tabla de preguntas */
#preguntas td { 
	text-align: left;
}
#preguntas td a {
	text-decoration: none;
	color: darkgreen;
	list-style-type: disc;
}
#preguntas td a:hover {
	color: limegreen;
}
#preguntas td a:before { color: black; content: "-"; }

#Error1 {
	Color: red;
	font-size: 1.1em;
}


/* Buscador */
#search {
	width: 40%;
	height: 30px;	
	margin-left: 66%;	
}

input#consulta {
	position:relative;
	top:-5px;
	height: 25px;
	width: 70%;
}
#search img  {
	height: 22px;
	width: 25px;
}

.reset {
	clear: both;
	margin:1px;
}




