body { background: #999; }

#page-wrap:after { content: "Wide Layout"; }

/* Barras en menu */
nav span:before { color: red; content: ""; }
nav:after { color: blue; content: none; }

nav {
	float: left;
	width: 15%;
	height: 200px;
}
nav span { margin: 0 200px 0 0; }
section {
	float: right;
	width: 80%;
	height: 200px;
}

footer {
	clear: both;
	display: block;
}

/* Autor */
#nombre, #foto, #video {
	text-align:center;
	margin: 0 5px 0 0;
}

#nombre {
	width: 18%;
	padding-top: 60px;
	float: left;
}

#foto, #video {
	width: 35%;
}

#foto {
	height: 140px;
	margin-top: 20px;
	float: left;
}
#foto div {
	width: 130px;
	height: 130px;
	background-image: url("/images/Foto0.jpg");
	background-repeat: no-repeat;
	background-size: 130px 130px;
}

#foto div:hover {
	background-image: url("/images/Foto.jpg");
}

#video {
	width: 160px;
	height: 160px;
	padding-top: 5px;
	float: left;
}

iframe {
	width: 160px;
	height: 160px;
}
