<% etiqueta = ( quiz.pregunta === "Pregunta" ) ? "title" : "value"; %>
<label for="preg" class="rem">Pregunta: </label>
<input type="text" id="preg" name="quiz[pregunta]"
	<%= etiqueta %>="<%= quiz.pregunta %>" placeholder="Pregunta" /> <p>
<label for="resp" class="rem">Respuesta: </label>
<input type="text" id="resp" name="quiz[respuesta]"
	<%= etiqueta %>="<%= quiz.respuesta %>" placeholder="Respuesta"/><p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar" id="pr" />
