<p><%= title %></p>

<h5 id="nombre"><li>Juan Carlos Achury</li></h5>

<div id="foto" title="Foto del Autor" alt="Foto del Autor" ><div id="cfoto"> </div></div>

<div id="video">
  <div id="cvideo" title="Video del Autor" alt="Video del Autor" >

    <video controls>
    	<source src="/images/Video.mp4" type="video/mp4">
    	Navegador sin soporte para video
    </video>

  </div>
</div>
