	<p>
		<form action="/quizes/respuesta" method="get" >
			Pregunta: <%= pregunta %> <p>
			<input type="text" name="respuesta" placeholder="Responde aqui" />
			<input type="submit" value="Responder" />
		</form>
	</p>
