<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Quiz - Respuesta</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h2>Quiz: El juego de la preguntas</h2>

		<h3><%= respuesta %></h3>
		<p>
			<a href="/quizes/pregunta">Intentelo de nuevo</a>
		</p>
	</body>
</html>