<p><%= respuesta %></p>
</br>
<%
switch( respuesta ) {
	case "Incorrecto": %>
		<a href="/quizes/<%= quiz.id %>">Intentelo de nuevo</a>	
<%
		break;
	case "Correcto": %>
		<a href="/quizes">Responder mas preguntas</a>
<%
		break;
	case "Error": %>
	    <p id="Error1">No existe la pregunta <%= quizId %><p></br>
		<a href="/quizes">Ver Preguntas</a>
<%
		break;
	default:
}
%>