<div>
	<form action="/quizes/<%= quiz.id %>/respuesta" method="get" >
		<p>Pregunta: <%= quiz.pregunta %> </p></br>
		<input type="text" name="respuesta" placeholder="Respuesta ..." />
		<input type="submit" value="Responder" />
	</form>
</div>
<p><a href="/quizes"><button>Regresar</button></a>
